*{
    padding: 0px;
    margin: 0px;
}
html, body{
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.container{
    min-height: 100%;
}
.main{
    overflow: auto;
    padding-bottom:300px ;
}
/*TOPO FIXO*/
.topofixo{
    position: fixed;
    width: 100%;
    height: 130px;
    background-color: black;
}
/*LOGO*/
.logo{
  position: relative;
  width: 100%; 
  height: 100px;
  text-align: center;
}
.logo img{
    width: 120px;
    height: 100px;
}
/*MENU E DOAR*/
.sublogo{
 position: relative;
  width: 100%; 
  height: 25px;
}
/*MENU*/
.menu{
color: white;
 float: left;
 margin-left: 150px;
}
.menu i:hover{
    color: red;
}
.menu ul{
    list-style: none;
    position: absolute;
    width: 100%;
    top: 5px;
}
.menu li{
    padding: 10px;
    font-size: larger;
}
.menu a{
    color: white;
    display: block;
}
.menu a:hover{
    color: white;
    background-color: red;
    transition: .5s;
    padding: 10px;
    margin-left: 10px;
}
.menu input[type="checkbox"]{
    display: none;
}
.menu nav{
    width: 350px;
    height: 600px;
    position: absolute;
    left: -355px;
    transition: .5s;
    background-color: black;
}
.menu input[type="checkbox"]:checked ~nav{
transform: translateX(354px);
}
.menu label{
    font-size: larger;
    z-index: 1;
}
/*DOAR*/
.doar{
 float: right;
 margin-right: 150px;
 font-size: larger;
}
.doar a{
    color: white;
}
.doar a:hover{
    color: red;
}
#anteudo{
    width: 100%;
    color: white;
    background-color: red;
}
/*CONTEUDO*/
.conteudo{
text-align: center;
}

/*GLADIADORES GERAL*/
#gladiadores{
width: 100%;
height: 500px;
}
#atuais{
    float: left;
    margin-left: 5%;
    background-image: url(atuais.jpg);
}
.noti h3{
    color: black;
}
#todos{
    float: right;
    margin-right: 5%;
    background-image: url(todos.jpg);
}
.rep{
background-size: cover;
width: 650px;
height: 500px;
}
.rep h1{
  padding-top: 45%;
  color: white;
}
/*TEMPORADAS GERAL*/
.temporadas{
background-size: cover;
width: 400px;
height: 350px;
}
.temporadas h1{
  padding-top: 40%;
  color: white;
}
#tmp{
    background-image: url(logo.jpg);
    display: inline-table;
    margin: 20px;
    padding: 20px;
}
/*NOTICIAS*/
#noticias ul{
    display: inline-table;
}
.noti{
width: 500px;
 height: fit-content;
 margin: 10px;
 padding: 10px;
 display: inline-table;
}
.noti img{
    width: 500px;
    height: 350px;
}
/*MAPA DA TEMPORADA*/
#mapa img{
width: 1400px;
height: 650px;
}
/*EVENTOS*/
#bat{
  width: 99%;
  display: flex;
  padding: 10px;
  margin: 10px auto;
  justify-content: center; 
  align-items: center;
}
.cbat img{
 width: 550px;
 height: 400px;
 justify-content: center;
 box-sizing: border-box;
 margin: 0px 20px;
}
#slider{
  overflow-x: auto;
}
#slide{
  display: flex;
  align-items: center;
}
#slide a:hover{
color: red;
}
/*CORPO DE JURADOS*/
#juri{
  width: 99%;
  display: flex;
  padding: 10px;
  margin: 10px auto;
  justify-content: center; 
  align-items: center;
}
.juri img{
 width: 450px;
 height: 350px;
 justify-content: center;
 box-sizing: border-box;
 margin: 0px 20px;
}
/*BATALHAS MAIS RECENTES*/
#recentes ul{
display: inline-table;
}
.recent{
display: inline-table; 
margin: 40px;
}
#recentes img{
width: 500px;
 height: 350px;
text-align: center;
}
#recentes a:hover{
    color: red;
}
/*FOOTER*/
.footer{
position: relative;
height: 300px;
margin-top: -300px;
clear: both;
background-color: black;
}

.apoio{
    display: flex;
}
.apoio a, h4, h5{
    color: white;
}

.apoio li{
    margin: 10px;
}
.apoio ul{
    padding: 10px;
}
.redcolasesh img{
    width: 150px;
    height: 130px;
}
.redcolasesh{
    margin-left: 200px;
}
.sobresesh{
 width: fit-content;
 margin-left: 200px;
}
.termsesh{
width: fit-content;
}
#cab{
    margin-top: 30px;
}
#cab h4{
margin-left: 20px;
background-color: red;
padding: 2px;
}
#social{
text-align: center;
margin-left: 200px;
}
#social a{
    width:20px; 
    padding: 10px;
    margin: 20px;
    font-size: larger;
}
#social{
    margin-top: 90px;
}
/*LOGO DAS REDES*/
#fb{
    color: blue;
    background-color: white;
    border-radius: 100%;
}
#tube{
    color: red;
    background-color: white;
    border-radius: 100%;
}
#insta{
    color: brown;
    background-color: white;
    border-radius: 100%;
}
#twi{
    color: lightskyblue;
    background-color: white;
    border-radius: 100%;
}
#copyr{
color: white;
margin-top: 30px;
font-size: small;
text-align: center;
}
