*{
    padding: 0px;
    margin: 0px;
}
html, body{
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.container{
    /* width: 100%; */
    min-height: 100%;
}
.main{
    overflow: auto;
    padding-bottom:300px ;
}
/*TOPO FIXO*/
.topofixo{
    position: fixed;
    width: 100%;
    height: 130px;
    background-color: black;
}
/*LOGO*/
.logo{
  position: relative;
  width: 100%; 
  height: 100px;
  text-align: center;
}
.logo img{
    width: 120px;
    height: 100px;
}
/*MENU E DOAR*/
.sublogo{
    position: relative;
  width: 100%; 
  height: 25px;
}
/*MENU*/
.menu{
color: white;
 float: left;
 margin-left: 150px;
}
.menu:hover{
    color: red;
}
.menu ul{
    list-style: none;
    position: absolute;
    width: 100%;
    top: 5px;
}
.menu li{
    padding: 10px;
    font-size: larger;
}
.menu a{
    color: white;
    display: block;
}
.menu a:hover{
    color: red;
}
.menu input[type="checkbox"]{
    display: none;
}
.menu nav{
    width: 300px;
    height: 600px;
    position: absolute;
    left: -305px;
    transition: all .5s;
    background-color: black;
}
.menu input[type="checkbox"]:checked ~nav{
transform: translateX(305px);
}
.menu label{
    font-size: larger;
    z-index: 1;
}
/*DOAR*/
.doar{
 float: right;
 margin-right: 150px;
 font-size: larger;
}
.doar a{
    color: white;
}
.doar a:hover{
    color: red;
}
/*CONTEUDO*/
.conteudo{
text-align: center;
}
/*NOTICIAS*/
 #noticias{
 border: solid 1px green;
} 
.noti{
border: solid 1px blue;
padding: 20px;
width: 600px;
 height: fit-content;
}
/*MAPA DA TEMPORADA*/
#mapa img{
width: 90%;
height: 650px;
}
/*EVENTOS*/
#bat{
  width: 99%;
  display: flex;
  padding: 10px;
  margin: 10px auto;
  justify-content: center; 
  align-items: center;
}
.cbat img{
 width: 550px;
 height: 400px;
 justify-content: center;
 box-sizing: border-box;
 margin: 0px 10px;
}
#slider{
  overflow-x: auto;
}
#slide{
  display: flex;
  align-items: center;
}
#slide a:hover{
color: red;
}
/*BATALHAS MAIS RECENTES*/
#recentes{
display: grid;
}
#recentes img{
width: 550px;
 height: 400px;
text-align: center;
}
#recentes a:hover{
    color: red;
}
/*FOOTER*/
.footer{
position: relative;
height: 300px;
margin-top: -300px;
clear: both;
background-color: black;
}

.apoio{
    display: flex;
}
.apoio a, h4, h5{
    color: white;
}

.apoio li{
    margin: 10px;
}
.apoio ul{
    padding: 10px;
}
.redcolasesh img{
    width: 100px;
    height: 80px;
}
.redcolasesh{
    margin-left: 200px;
}
.sobresesh{
 width: fit-content;
 margin-left: 500px;
}
.termsesh{
width: fit-content;
}
#cab{
    margin-top: 30px;
}
#cab h4{
margin-left: 20px;
}
#social{
text-align: center;
margin-left: 150px;
}
#social a{
    padding: 10px;
    font-size: larger;
}
#social h4{
    margin-top: 50px;
}
#copyr{
color: white;
margin-top: 30px;
}
